body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b4cccc; /* Dark blue background similar to the logo */
  }
  
  .App {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .App-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .App-logo {
    max-width: 300px; /* Adjust size as needed */
    height: auto;
  }
  
  form {
    background: #f9f9f9; /* Light background for contrast */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  input[type="text"],
  input[type="date"],
  input[type="time"],
  textarea,
  input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e6e8eb; /* Light grey similar to logo's light tones */
    color: #1c1f24; /* Dark text color for contrast */
  }
  
  button {
    background-color: #4f6d7a; /* Earthy green tone similar to the leaves in the logo */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3b4f5a; /* Slightly darker shade for hover effect */
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background: #f9f9f9; /* Light background for list items */
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  
  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  @media (min-width: 600px) {
    form {
      display: flex;
      flex-wrap: wrap;
    }
  
    form > * {
      flex: 1 1 48%;
      margin-right: 2%;
    }
  
    form > *:nth-child(2n) {
      margin-right: 0;
    }
  
    input[type="file"],
    button {
      flex: 1 1 100%;
    }
  
    li {
      display: flex;
      flex-direction: column;
    }
  
    .buttons {
      flex-direction: row;
    }
  }
  